.contact{
    position: absolute;
    top: 25px;
    right: 50px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 8px 22px;
    animation: 5s ease-in;
    color: white;
    transition: all .3s ease-in-out;

    
    &:hover {
        background-color: white;
        color: #2F4050;
    }
}

.github-link{
    position: absolute;
    bottom: 25px;
    right: 50px;
    img {
        height: 35px;
        width: 35px;
    }
}
