.contact{
    position: absolute;
    top: 25px;
    right: 50px;
    border: 2px solid $white-1;
    border-radius: 6px;
    padding: 8px 22px;
    animation: 5s ease-in;
    color: $white-1;
    transition: all .3s ease-in-out;

    
    &:hover {
        background-color: $white-1;
        color: $black-1;
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}