header {
    width: calc(100vw - 250px);
    margin: 0 0 0 auto;
    height: 100vh;
    @include verticalCenter;
    background: url("../../assets/images/wabe-bg.svg") center/cover;
    font-family: $font-1;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.left-hero {
    color: aliceblue;
    text-align: center;
    margin: 0 auto;
    width: 85%;
    opacity: 0;
    transform: translateY(40px);
    animation: headerAnim 1.5s forwards;

    h1{
        font-size: 2.5rem;
        margin-bottom: 75px;
    }

    .about-btn {
        color: #B09109;
        // text-decoration: none;
        font-size: 1.2rem;
        height: 24px;
        
        .arrow-btn {
            transition: all .2s ease-in-out;
            height: 14px;
        }

        &:hover .arrow-btn {
            transform: rotate(90deg);
        }
    }


    @keyframes headerAnim {
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
}

.right-hero img {
    width: 100%;
}