.main{
    width: calc(100vw - 250px);
    margin: 0 0 0 auto;
    height: 100vh;
    @include verticalCenter;
    flex-direction: column;
    text-align: center;
    background: url("../../assets/images/blurry.svg") center/cover;
    font-family: $font-1;
    color: white;
    cursor: default;

    @media screen and (max-width: 900px) {
        background: #141416;
        width: 100%;
    }

    .content-containeur {

        opacity: 0;
        transform: translateY(40px);
        animation: headerAnim 1.5s forwards;

        @media screen and (max-width: 900px) {
            @include verticalCenter;
            flex-direction: column;
        }

        @media screen and (max-width: 400px) {
            margin-top: 400px;
        }
        
        .title {
            span{
                font-size: 2rem;
                &:hover{
                    animation: gelatine 0.5s ease;
                }
                @media screen and (max-width: 900px) {
                    font-size: 1.5rem;
                }
            }
            
        }
        
        .languages {
            
            display: flex;
            flex-wrap: wrap;
            @include verticalCenter;

            @media screen and (max-width: 900px) {
                flex-wrap: wrap;
                @include verticalCenter;
                max-width: 60%;
                background: #141416;
            }

            @media screen and (max-width: 680px) {
                max-width: 100%;
            }
            
            .language {
                margin: 0 30px 3rem;
                text-align: center;
                height: 80px;
                width: 80px;
                
                img {
                    width: 100%;
                    align-content: center;
                }
                
                p{
                    text-shadow: 1px 1px 2px #141416;
                }
            }
        }
        .experience-text {
            width: 75%;
            max-width: 900px;
            margin: 0 auto 100px;
        
            h2 {
            margin: 50px 0 25px;

            @media screen and (max-width: 550px) {
                font-size: 1rem;
            }
            }

            p{
                @media screen and (max-width: 680px) {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@keyframes gelatine {
    from, to { transform: scale(1, 1);
        color: white;
    }
    25% { transform: scale(0.9, 1.1);
        color: $color-2;
    }
    50% { transform: scale(1.1, 0.9);
        color: $color-2; }
        75% { transform: scale(0.95, 1.05);
            color: $color-2;}
        }
        
@keyframes headerAnim {
    to {
        transform: translateY(0);
        opacity: 1;
        }
    }