.main{
    width: calc(100vw - 250px);
    margin: 0 0 0 auto;
    background: url("../../assets/images/blurry.svg") center/cover;
    font-family: $font-1;
    color: $white-1;
    cursor: default;

    @media screen and (max-width: 900px) {
        background: $black-1;
        width: 100%;
    }

    .content-containeur {
        @include verticalCenter;
        flex-direction: column;
        text-align: center;
        padding-top: 150px;
        position: relative;

        @media screen and (max-width: 900px) {
            @include verticalCenter;
            flex-direction: column;
        }

        // .Over-here {
        //     position:absolute;
        //     left: 25%;
        //     top: 0;
        //     padding-top: 120px;
        //     transform: rotate(25deg);
        // }
        
        .title {
            span{
                font-size: 3rem;
                -webkit-text-stroke: 1px $white-1;
                color: transparent;
                font-weight: 900;
                &:hover{
                    // animation: gelatine 0.5s ease;
                    color: $white-1;
                    -webkit-text-stroke: 1px $white-1;
                }
                &:has(~span:hover) {
                    color: $white-1;
                    -webkit-text-stroke: 1px $white-1;
                }
                @media screen and (max-width: 900px) {
                    font-size: 1.5rem;
                }
            }
            
        }
        
        .languages {
            display: flex;
            flex-wrap: wrap;
            @include verticalCenter;

            @media screen and (max-width: 900px) {
                flex-wrap: wrap;
                @include verticalCenter;
                max-width: 60%;
                background: $black-1;
            }

            @media screen and (max-width: 680px) {
                max-width: 100%;
            }
            
            .language {
                opacity: 0;
                transform: translateY(40px);
                animation: headerAnim 1.5s forwards;
                margin: 0 30px 3rem;
                text-align: center;
                height: 80px;
                width: 80px;
                
                img {
                    width: 100%;
                    align-content: center;
                }
                
                p{
                    text-shadow: 1px 1px 2px $black-1;
                }
            }

            #delai-one {
                animation-delay: 0.1s;
            }
            #delai-two {
                animation-delay: 0.2s;
            }
            #delai-three {
                animation-delay: 0.3s;
            }
            #delai-four {
                animation-delay: 0.4s;
            }
            #delai-five {
                animation-delay: 0.5s;
            }
            #delai-six {
                animation-delay: 0.6s;
            }
            #delai-seven {
                animation-delay: 0.7s;
            }
            #delai-height {
                animation-delay: 0.8s;
            }

        }
        .experience-text {
            width: 75%;
            max-width: 900px;
            margin: 0 auto 100px;
        
            h2 {
            margin: 50px 0 25px;

            @media screen and (max-width: 550px) {
                font-size: 1rem;
            }
            }

            p{
                margin-bottom: 15px;

                span {
                    font-size: 1.15rem;
                    color: $color-3;
                    font-weight: 700;
                }


                @media screen and (max-width: 680px) {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
        
@keyframes headerAnim {
    to {
        transform: translateY(0);
        opacity: 1;
        }
    }