.main-portfolio {
  width: calc(100vw - 250px);
  margin: 0 0 0 auto;
  height: 100vh;
  @include verticalCenter;
  flex-direction: column;
  text-align: center;
  background: url("../../assets/images/layered.svg") center/cover;
  font-family: $font-1;
  color: $white-1;
  cursor: default;

  @media screen and (max-width: 900px) {
    width: 100%;
    height: auto;
  }

  .containeur {

    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 175px;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
    @media screen and (max-width: 487px) {
      height: 100%;
    }
    @media screen and (max-width: 400px) {
      background: #141416;
      align-items: center;
    }

    .title {

      span{
        font-size: 2rem;
        &:hover{
          animation: gelatine 0.5s ease;
        }

        @media screen and (max-width: 900px) {
          display: none;
        }
      }

    }

    .projets {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;


      @media screen and (max-width: 900px) {
        max-width: 85%;
        margin: -40px auto 30px;
      }
      @media screen and (max-width: 400px) {
        background: $black-1;
        margin: 0 0 30px;
        width: 100%;
      }

      .projet {
        a {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 12rem;
          height: 12rem;
          // -webkit-box-align: center;
          // -webkit-align-items: center;
          // -ms-flex-align: center;
          align-items: center;
          border: none;
          background-color: #2e3445;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          color: #dbe8d4;

          &:hover{
            span {
                display: none;
                transition: all 0.5s ease;
            }
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-color: rgba(34, 39, 51, 0.5);
            transition: all 0.5s ease;
            }
            &:hover::before {
                transition: all 0.5s ease;
                background-color: rgba(34, 39, 51, 0);
            }
        }

        #p1 {
          background-image: url("../../../public/img/projet1-presentation-picture.webp");
        }

        #p2 {
          background-image: url("../../../public/img/projet2-presentation-picture.webp");
        }

        #p3 {
          background-image: url("../../../public/img/projet3-presentation-picture.webp");
        }
        #p4 {
          background-image: url("../../../public/img/projet4-presentation-picture.webp");
        }
        #p5 {
          background-image: url("../../../public/img/projet5-presentation-picture.webp");
        }

        span {
          position: relative;
          display: block;
          width: 100%;
          padding: 0.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          text-align: center;
          text-shadow: 0 1px 0 #110d17, 0 -1px 0 #110d17, 1px 0 0 #110d17,
            -1px 0 0 #110d17;
          opacity: 1;
          transition: all 0.5s ease;
        }
      }
    }
  }
}