.main-portfolio {
  width: calc(100vw - 250px);
  margin: 0 0 0 auto;
  height: 100vh;
  @include verticalCenter;
  flex-direction: column;
  text-align: center;
  background: url("../../assets/images/layered.svg") center/cover;
  font-family: $font-1;
  color: white;
  cursor: default;

  @media screen and (max-width: 900px) {
    width: 100%;
    background: #141416;
    height: 100%;
  }

  .containeur {

    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 250px;

    .title {

      span{
        font-size: 2rem;
        &:hover{
          animation: gelatine 0.5s ease;
        }

        @media screen and (max-width: 900px) {
          display: none;
        }
      }

    }

    .projets {

      margin-top: 100px;
      @include verticalCenter;
      gap: 30px;


      @media screen and (max-width: 900px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -40px;
        background: $black-1;
      }

      .projet {
        a {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 12rem;
          height: 12rem;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          border: none;
          background-color: #2e3445;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          color: #dbe8d4;

          &:hover{
            span {
                display: none;
                transition: all 0.5s ease;
            }
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-color: rgba(34, 39, 51, 0.5);
            transition: all 0.5s ease;
            }
            &:hover::before {
                transition: all 0.5s ease;
                background-color: rgba(34, 39, 51, 0);
            }
        }

        #p1 {
          background-image: url("../../../public/img/projet1-small-picture.png");
        }

        #p2 {
          background-image: url("../../../public/img/projet2-small-picture.png");
        }

        #p3 {
          background-image: url("../../../public/img/projet3-small-picture.png");
        }
        #p4 {
          background-image: url("../../../public/img/projet4-small-picture.png");
        }

        span {
          position: relative;
          display: block;
          width: 100%;
          padding: 0.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          text-align: center;
          text-shadow: 0 1px 0 #110d17, 0 -1px 0 #110d17, 1px 0 0 #110d17,
            -1px 0 0 #110d17;
          opacity: 1;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1);
      color: white;
  }
  25% { transform: scale(0.9, 1.1);
      color: $color-2;
  }
  50% { transform: scale(1.1, 0.9);
      color: $color-2; }
      75% { transform: scale(0.95, 1.05);
          color: $color-2;}
      }