@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #F4A949;
$color-2: #41B3D3;
$color-3: #5eead4;
$black-1: #141416;
$active-1: #969696;
$white-1: #F0F8FF;
$gray-1: #767a7e;
$hover-sidebar: #293846;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    font-family: $font-1;
}

.App {
    width: 100vw;
    height: 100vh;
}

.section-h2 {
    display: inline-block;
    margin-left: 50px;
    border-top: 4px solid $white-1;
    padding-top: 6px;
    font-size: 1.3rem;
}